.page-header {
	text-align: center;
}

.page-header .logo {
	display: inline-block;
	background: white;
	border-radius: 1em;
	padding: 1em;
}

.page-header .logo .title {
	margin: 0;
}

.page-header .logo .tagline {
	margin: 1em 0 0 0;
}

.font-settings {
    position: relative;
    background: white;
    border-radius: 1em;
    margin-bottom: 1em;
    max-height: 700px;
    box-shadow: 0 0 1em rgba(20,0,0,0.1);
    transition: max-height 0.3s ease,
                margin 0.3s ease,
                opacity 0.5s cubic-bezier(.75,-0.34,.83,.67);
}

html.js .font-settings.hidden {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    transition: max-height 0.5s cubic-bezier(.75,-0.34,.83,.67),
                margin 0.5s cubic-bezier(.75,-0.34,.83,.67),
                opacity 0.3s ease;
}

.font-settings:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 100%;
    left: 50%;
    height: 0;
    width: 0;
    margin-left: -12px;
    border: 12px solid;
    border-color: transparent transparent #fff transparent;
    border-top: 0;
}

ul.font-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 1em;
}

ul.font-list li {
    vertical-align: top;
    text-align: left;
    display: inline-table;
    width: 470px;
    max-width: 100%;
    height: 150px;
    margin: 0;
}

ul.font-list li label.font-option {
    display: table-cell;
    vertical-align: middle;
}

input.main-text-input {
    font-size: 1.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.settings-notice {
    font-size: 0.8em;
    margin: 0.5em 0 0;
    text-align: center;
}

.preview {
    background: #fff;
    padding: 1em;
    border-radius: 1em;
}



.page-footer {
	max-width: 60em;
	margin: 0 auto;
	text-align: center;
}

.page-footer > p:last-child {
	margin-bottom: 0;
}