/* POST LIST */
ul.posts {
    list-style-type: none;
    padding: 0;
}

ul.posts .meta {
    display: block;
    font-size: 0.8em;
    font-style: italic;
}

@media all and (min-width: 25em) {
    ul.posts li {
        padding-left: 1.1em;
    }

    ul.posts li:before {
        content: "—";
        position: absolute;
        display: inline-block;
        width: 0.75em;
        margin-left: -1em;
        overflow: hidden;
    }
}

@media all and (min-width: 40em) {
    ul.posts .meta {
        display: inline;
        font-size: 0.9em;
    }

    ul.posts .meta:before {
        content: ' — ';
    }
}

@media all and (min-width: 75em) {
    ul.posts li {
        padding-left: 0;
    }
}

/* POST */
.post {
    overflow: hidden; /* clearfix */
}

.post .meta {
    font-style: italic;
    font-size: 0.9em;
}

.post .link-prev,
.post .link-next {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.25em 1.4em;
}

.post .link-prev .title {
    padding-left: 0.4em;
    text-decoration: underline;
}

.post .link-next .title {
    padding-right: 0.4em;
    text-decoration: underline;
}

.post .link-prev .arr {
    margin-left: -1.4em;
}

.post .link-next .arr {
    margin-right: -1.4em;
}

@media all and (min-width: 30em) {
    .post .link-prev .arr,
    .post .link-next .arr {
        margin: 0;
    }

    .post .link-prev {
        width: 48%;
        float: left;
        padding-right: 2%;
        text-align: left;
        padding-left: 0;
    }

    .post .link-next {
        width: 48%;
        float: right;
        padding-left: 2%;
        padding-right: 0;
        text-align: right;
    }
}

@media all and (min-width: 85em) {
    .post .link-prev,
    .post .link-next {
        display: inline-block;
        width: auto;
        position: fixed;
        top: 50%;
        margin-top: -1.35em;
        background: #EAE7E4 url(/i/background.jpg);
        padding: 0.6em;
        border: 1px solid #CCC3C0;
        font-size: 1.5em;
    }

    .post .link-prev {
        border-radius: 0 0.3em 0.3em 0;
        left: 0;
        border-left: 0;
    }

    .post .link-next {
        background-position: 100% 0;
        border-radius: 0.3em 0 0 0.3em;
        right: 0;
        border-right: 0;
    }

    .post .link-prev:hover {
        padding-left: 1.2em;
    }

    .post .link-next:hover {
        padding-right: 1.2em;
    }

    .post .link-prev .title,
    .post .link-next .title {
        text-decoration: none;
        display: none;
    }

    .post .link-prev:hover .title,
    .post .link-next:hover .title {
        display: inline;
    }
}

/* GENERATOR */
html.js .pepyaka-generator .pepyaka-fallback-form {
    display: none;
}

.pepyaka-generator > section {
    margin-bottom: 2em;
    text-align: center;
}

.pepyaka-generator section.font-settings ul.font-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pepyaka-generator section.font-settings ul.font-list li {
    display: inline-block;
    max-width: 33.33%;
    width: 140px;
    position: relative;
    margin: 0;
}

@media all and (min-width: 30em) {
    .pepyaka-generator section.font-settings ul.font-list li {
        max-width: 20%;
    }
}

.pepyaka-generator section.font-settings ul.font-list li input {
    position: absolute;
    opacity: 0;
    top: 50%;
}

.pepyaka-generator section.font-settings ul.font-list li label {
    position: relative;
    display: block;
    text-align: center;
    height: 0;
    margin: 0 5px;
    padding-bottom: 115%;
    border-radius: 0.5em;
    cursor: pointer;
    border: 3px dashed #aaa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pepyaka-generator section.font-settings ul.font-list li input:checked + label {
    border: 3px solid #35B5FF;
}

.pepyaka-generator section.font-settings ul.font-list li input:focus + label {
    outline: 2px dotted;
}

.pepyaka-generator section.font-settings ul.font-list li input.is-mouse-clicked + label,
.pepyaka-generator section.font-settings ul.font-list li input:focus + label:hover {
    outline: none;
}

.pepyaka-generator section.font-settings ul.font-list li label span:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.pepyaka-generator section.font-settings ul.font-list li label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.pepyaka-generator section.font-settings ul.font-list li label img {
    max-width: 100%;
}

.pepyaka-generator section.text {
    transition: padding 0.5s ease;
}

@media all and (min-width: 40em) {
    .pepyaka-generator.is-empty section.text {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}

.pepyaka-generator section.text input.main-text-input {
    font-size: 1.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: font-size 0.5s ease,
                border linear 0.2s,
                box-shadow linear 0.2s;
}

.pepyaka-generator.is-empty section.text .randomize-hint,
.pepyaka-generator.is-single-font-selected section.text .randomize-hint {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease,
                opacity 0.2s ease;
}

.pepyaka-generator section.text .randomize-hint {
    margin: 0.5em 0 0 0;
    padding-left: 6.1em;
    font-size: 0.9em;
    transition: visibility 1s cubic-bezier(1,-0.57,.9,.88),
                opacity 1s cubic-bezier(1,-0.57,.9,.88),
                padding 0.2s ease;
}

.pepyaka-generator section.text .enter-hint {
    padding-left: 2em;
    opacity: 0;
    transition: padding 0.2s ease,
                opacity 0.2s ease;
}

@media all and (min-width: 60em) {
    .pepyaka-generator section.text .main-text-input:focus + .randomize-hint {
        padding-left: 0;
    }

    .pepyaka-generator section.text .main-text-input:focus + .randomize-hint .enter-hint {
        padding-left: 0;
        opacity: 1;
    }
}

@media all and (min-width: 40em) {
    .pepyaka-generator.is-empty section.text input.main-text-input {
        font-size: 2em;
    }
}

.pepyaka-generator.is-empty section.preview {
    display: none;
}

.pepyaka-generator section.preview {
    background: #fff;
    padding: 1em;
    border-radius: 1em;
}

.pepyaka-generator section.preview img {
    max-height: 70px;
}

@media all and (min-width: 30em) {
    .pepyaka-generator section.preview img {
        max-height: 100px;
    }
}

@media all and (min-width: 40em) {
    .pepyaka-generator section.preview img {
        max-height: none;
    }
}

.pepyaka-generator.is-empty section.code {
    display: none;
}

.pepyaka-generator section.code {
    text-align: center;
}

.pepyaka-generator section.code ul.markup-switcher {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5em;
}

.pepyaka-generator section.code ul.markup-switcher li {
    display: inline-block;
    margin: 0 0.2em 0.5em 0.2em;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
}

.pepyaka-generator section.code ul.markup-switcher li.active {
    position: relative;
    background: #9FEB14;
}

.pepyaka-generator section.code ul.markup-switcher li.active:after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -6px;
    border: 6px solid;
    border-bottom: 0;
    border-color: #9FEB14 transparent transparent transparent
}

.pepyaka-generator section.code ul.markup-switcher li.active > * {
    color: #fff;
    border-bottom-color: transparent;
}

.pepyaka-generator section.code textarea.code-output {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 40em;
    height: 10em;
}

.pepyaka-generator section.share {
    display: block;
}

html.js .pepyaka-generator.is-empty section.share {
    display: none;
}

.pepyaka-generator section.share {
    text-align: center;
}

.pepyaka-generator section.share .share-buttons {
    display: none;
}

.pepyaka-generator section.share.is-active .share-buttons {
    display: block;
}

.pepyaka-generator section.share.is-active .share-fallback-links {
    display: none;
}

.pepyaka-generator section.share .share-fallback-links > * {
    margin: 0 1.5em;
}

/* DIZAINA LOGO */
a.dizaina-logo {
    display: inline-block;
    border-radius: 0.3em;
    background: #dbd2cd;
    padding: 0.45rem 0.6rem;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

a.dizaina-logo:focus,
a.dizaina-logo:hover,
a.dizaina-logo:active {
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: ondrugs;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 0.4s;
	animation-name: ondrugs;
	animation-iteration-count: infinite;
}