/* POST LIST */
ul.posts {
    list-style-type: none;
    padding: 0;
}

ul.posts .meta {
    display: block;
    font-size: 0.8em;
    font-style: italic;
}

@media all and (min-width: 25em) {
    ul.posts li {
        padding-left: 1.1em;
    }

    ul.posts li:before {
        content: "—";
        position: absolute;
        display: inline-block;
        width: 0.75em;
        margin-left: -1em;
        overflow: hidden;
    }
}

@media all and (min-width: 40em) {
    ul.posts .meta {
        display: inline;
        font-size: 0.9em;
    }

    ul.posts .meta:before {
        content: ' — ';
    }
}

@media all and (min-width: 75em) {
    ul.posts li {
        padding-left: 0;
    }
}

/* POST */
.post {
    overflow: hidden; /* clearfix */
}

.post .meta {
    font-style: italic;
    font-size: 0.9em;
}

.post .link-prev,
.post .link-next {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-bottom: 0.5em;
}

.post .link-prev .title {
    padding-left: 0.4em;
    text-decoration: underline;
}

.post .link-next .title {
    padding-right: 0.4em;
    text-decoration: underline;
}

.post .link-prev .arr {
    margin-left: -1.4em;
}

.post .link-next .arr {
    margin-right: -1.4em;
}

@media all and (min-width: 30em) {
    .post .link-prev .arr,
    .post .link-next .arr {
        margin: 0;
    }

    .post .link-prev {
        width: 48%;
        float: left;
        padding-right: 2%;
        text-align: left;
    }

    .post .link-next {
        width: 48%;
        float: right;
        padding-left: 2%;
        text-align: right;
    }
}

@media all and (min-width: 85em) {
    .post .link-prev,
    .post .link-next {
        display: inline-block;
        width: auto;
        position: fixed;
        top: 50%;
        margin-top: -1.35em;
        background: #EAE7E4 url(/i/background.jpg);
        padding: 0.6em;
        border: 1px solid #CCC3C0;
        font-size: 1.5em;
    }

    .post .link-prev {
        border-radius: 0 0.3em 0.3em 0;
        left: 0;
        border-left: 0;
    }

    .post .link-next {
        background-position: 100% 0;
        border-radius: 0.3em 0 0 0.3em;
        right: 0;
        border-right: 0;
    }

    .post .link-prev:hover {
        padding-left: 1.2em;
    }

    .post .link-next:hover {
        padding-right: 1.2em;
    }

    .post .link-prev .title,
    .post .link-next .title {
        text-decoration: none;
        display: none;
    }

    .post .link-prev:hover .title,
    .post .link-next:hover .title {
        display: inline;
    }
}

/* FONT OPTION */
label.font-option {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

label.font-option input {
	position: absolute;
	opacity: 0;
    cursor: pointer;
}

label.font-option > * {
	vertical-align: middle;
}

label.font-option > .fancy-switch {
    margin-right: 1em;
}

/* FANCY SWITCH */
.fancy-switch {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 32px;
    background: white;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 16px;
    transition: all 0.2s linear;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.fancy-switch:active {
    box-shadow: inset 0 0 0 40px rgba(0,0,0,0.2);
}

.fancy-switch:after {
    position: absolute;
    display: block;
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 15px;
    top: 2px;
    left: 2px;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.05),
                0 0.1em 6px rgba(0,0,0,0.2);
    transition: left 0.2s linear,
                width 0.2s linear;
}

.fancy-switch:active:after {
    width: 40px;
}

input:focus + .fancy-switch:after {
    /*background: -webkit-radial-gradient(circle, #fff 58%, #cdfdd5 61%);
    background: -moz-radial-gradient(circle, #fff 58%, #cdfdd5 61%);
    background: -o-radial-gradient(circle, #fff 58%, #cdfdd5 61%);
    background: radial-gradient(circle, #fff 58%, #cdfdd5 61%);*/
}

input:checked + .fancy-switch {
    box-shadow: inset 0 0 0 40px #4cd964;
}

input:checked + .fancy-switch:after {
    left: 42px;
}

input:checked + .fancy-switch:active:after {
    left: 30px;
}

/* DIZAINA LOGO */
a.dizaina-logo {
    display: inline-block;
    border-radius: 0.3em;
    background: #dbd2cd;
    padding: 0.45rem 0.6rem;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

a.dizaina-logo:focus,
a.dizaina-logo:hover,
a.dizaina-logo:active {
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: ondrugs;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 0.4s;
	animation-name: ondrugs;
	animation-iteration-count: infinite;
}