.page-header
    text-align center

.site-logo
    display inline-block
    background white
    border-radius 1em
    padding 1em

    .title
        margin 0

        html.js &.nojs
            display none

        img
            max-width 70px

            @media all and (min-width: 40em)
                max-width 90px

            @media all and (min-width: 60em)
                max-width none

    .tagline
        margin 1em 0 0 0

.main-menu
    margin-top 3em

    ul
        overflow hidden /* clearfix */
        margin 0

        > li
            float left
            margin 0

            > a
                text-decoration none

            > *
                display inline-block
                padding 0.3em 1em
                border 1px solid transparent
                border-radius 0.3em 0.3em 0 0

            &.active > *
                color inherit
                position relative
                border-color #ccc3c0 #ccc3c0 transparent #ccc3c0

                &:before
                &:after
                    content ''
                    display block
                    position absolute
                    bottom 0
                    width 80em
                    border-top 1px solid #ccc3c0

                &:before
                    right 100%

                &:after
                    left 100%

        > li.lang
            float right
            clear right
            font-size 0.8em

            @media all and (min-width: 25em)
                clear none

            a
                text-decoration underline

            span
            a
                padding 0.5em 0.5em 0

.content
    margin-top 3em

.page-footer
    max-width 60em
    margin 3em auto 0
    text-align center

    > p:last-child
        margin-bottom 0